<!DOCTYPE html>
<html lang="en">
<head>
  <title>customer_followup_page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"/>
  <link rel="stylesheet" href="../static/css/my_style.css">
	<script type="text/javascript" src="/static/js/aquaguardTimer.js"></script>
<style>
.call-card 
{
	position: absolute;
	height: 280px;
	width: 160px;
	margin-top: 1vh;
	border-radius:20px;
	background: -webkit-linear-gradient(top,#8bf1f8,#00c3ca);
}
.call-user-icon img 
{
	background-color: white;
	border-radius: 50%;
	width: 24%;
}
.call-card-user-name 
{
	position: relative;
	text-align: center;
}
.caller-name 
{
	font-family: poppins;
	font-size: 22px;
	color:black;
	font-weight: bold;
}</style>
</head>
<body>

<nav class="navbar">
	<div class="container">
		<a href="../changedp"><img id="imageid" src="/static/images/Avatar.png" class="user"/></a>
				<p id="loginTime" class="logintime"></p><br>
				<p id="loginDate" class="logindate"></p>
				<h1 class="username">Hello Diana Johns</h1>
	</div>
	
</nav>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-11">
			<h1 class="dashboard">Your dashboard</h1>
		</div>
		
		<div class="col-lg-1">
		<i class="glyphicon glyphicon-menu-hamburger"style="color:#7CB9E8;font-size:35px;"id="menubar"></i>
		</div>
	</div>
</div><br>
<span class="iconbox">
	<p><a href="">Print Salary slip</a>
		<br>
		<a href="change_password.html">Change Password</a>
		<br>
		<a href="report_an_issue.html">Report an issue</a>
		<button style="font-size:50px;margin-top:-15vh;" class="close" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</p>
</span>

<div class="container">
	<div class="row">
		<div class="col-lg-2 text-center">
			<a href="../homePageContactLeads"><button type="button">&nbsp;&nbsp;&nbsp;Calls&nbsp;&nbsp;&nbsp;&nbsp;</button></a>
		</div>
		<div class="col-lg-8">
			<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="17" aria-valuemin="0" aria-valuemax="100">
					</div>
				</div>
		</div>
		<div class="col-lg-2">
			<span id="ID28">28/30</span>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2 text-center">
			<a href="../homePageCommittedLeads"><button type="button">Commits&nbsp;</button></a>
		</div>
		<div class="col-lg-8">
			<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="17" aria-valuemin="0" aria-valuemax="100">
					</div>
				</div>
		</div>
		<div class="col-lg-2">
			<span id="ID28">16/30</span>
		</div>
	</div>
</div>
<br>
<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<a href=""><span id="leadlist">Leads</span></a>
		</div>
		
		<div class="col-lg-6 text-right">
			<span id="leadlist" onclick="getNoitificationsTable(1002)">Announcement</span>
		</div>
	</div>
</div>

<div class="container ">
	<div class="row">
		<div class="col-lg-10">
			<div id="table-scroll" class="table-scroll">
				<div id="faux-table" class="faux-table" aria="hidden"></div>
					<div class="table-wrap scrollbar-ripe-malinka">
						<table id="main-table" class="main-table">
						</table> 
						
						</div>
					</div>
				</div>

				<div class="col-lg-1 text-left">
					<div class="call-card">
							<div class="call-user-icon">
								<center>
									<img class="call-user-icon" src="/static/images/call-user-icon.png">
								</center>
							</div>
							<div class="call-card-user-name">
								<p class="caller-name">Joel Matts</p>
								<p class="caller-id">CUST ID 0023493111834</p>
								<p id="call-duration">01:29:43</p>
							</div>
							<center>
								<div class="single-call-icon">
									<a href="" id="calldisconnect">
										<img src="/static/images/red-call-icon.png" height="80px" width="80px">
									</a>
								</div>
							</center>
						</div>
				</div>


			</div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<p style="color:#06BBE1;">LEAD ID: <span id="lead_id"></span></p>
						<p style="margin-left:60%;margin-top:-5vh;color:#06BBE1;">
							LEAD PH: <span id="lead_phone"></span>
						</p>
					</div>
				</div>
			</div>
		  </h4>
        </div>
        <div class="modal-body">
		<div class="container">  
			<div class="row">
				<div class="col-lg-2">
					<p>First Name</p>
				</div>
				<div class="col-lg-5">
					<input id="fnameLead" type="text" class="modelname" value=""/>
			    </div>
			</div>
			<div class="row">
				<div class="col-lg-2">
					<p>Last Name</p>
				</div>
				<div class="col-lg-5">
					<input id="lnameLead" type="text" class="modelname"/>
			    </div>
			</div>
			<div class="row">
				<div class="col-lg-2">
					<p>Email</p>
				</div>
				<div class="col-lg-5">
					<input id="emailLead" type="text" class="modelname"/>
			    </div>
			</div>
			<div class="row">
				<div class="col-lg-2">
					<p>Alternative number</p>
				</div>
				<div class="col-lg-5">
					<input id="alternateNumberLead" type="text" class="modelname"/>
			    </div>
			</div>
			<!-- <div class="row">
				<div class="col-lg-2">
					<p>City</p>
				</div>
				<div class="col-lg-5">
					<input id="cityLead" type="text" class="modelname"/>
			    </div>
			</div> -->
			<div class="row">
				<div class="col-lg-2">
					<p>PIN</p>
				</div>
				<div class="col-lg-5">
					<input id="pinLead" type="text" class="modelname"/>
			    </div>
			</div>
			<div class="row">
				<div class="col-lg-2">
					<p>Purchase Date</p>
				</div>
				<div class="col-lg-5">
					<input id="dateLead" type="text" class="modelname"/>
			    </div>
			</div>
			<div class="row">
				<div class="col-lg-2">
					<p>Address</p>
				</div>
				<div class="col-lg-5">
					<textarea id="addressLead" class="modelname"></textarea>
			    </div>
			</div>
			<div class="row">
				<div class="col-lg-2">
					<p>Remarks</p>
				</div>
				<div class="col-lg-5">
					<textarea id="commentsLead" class="modelname"></textarea>
			    </div>
			</div>
		</div>
        <div class="modal-footer">
			<button type="button" id="btnLead" class="btn btn-default" data-dismiss="modal" >Update</button>  <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
	</div>
  </div>

	<br>
<footer><br>
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<p class="time">Time Left <br>06:09:25</p>
			</div>
			<div class="col-lg-6 text-center">
				<input type="button"id="pass" value="PAUSE">   <a href="logoutfeedback.html"><button type="button">LOGOUT</button></a>

			
			</div>
		</div>
	</div>
</footer>
<script>
$(document).ready(function(){
	$(".iconbox").hide();
		$("#menubar").click(function(){
		$('#menubar').hide();
			$(".iconbox").show();
});
});

$(document).ready(function(){
	
		$(".close").click(function(){
		$('#menubar').show();
			$(".iconbox").hide();
});
});


$(document).ready(function(){
	
		$("#menubar").click(function(){
			$("#btn").hide();
			$(".close").click(function(){
		$('#btn').show();
});
});
});


$(document).ready(function(){
	
		$("#menubar").click(function(){
			$("#btn1").hide();
			$(".close").click(function(){
		$('#btn1').show();
});
});
});


	$(".call-card").hide();
		$("#callnow").click(function(){
		
			$(".call-card").show();


			
});


$('#pass').click(function(){
	var val=$('#pass').val();
	if(val=="PAUSE"){
		$('#pass').val("RESUME");
	}
	else{
		$('#pass').val("PAUSE");
	}
})



</script>
<script>
var emp_id;
var lead_id;

	$(document).ready(function() {
		$.post( baseUrl + "getSession/",
		{},
		function(data, status) {
			dataObj=JSON.parse(data);
			if(dataObj.result=="fail") {
				window.location.href = baseUrl
			}else{
				emp_id = dataObj.description;
				getProfilePicture(emp_id);
				getUserData(emp_id);
			}
		});

	})


		function getProfilePicture(emp_id) {
		$.post( baseUrl + "getProfilePicture/",
		{
			id: emp_id,
		},
		function(data, status) {
			dataObj=JSON.parse(data);
			if(dataObj.result=="fail") {
				alert("Something's Wrong With Profile Picture")
			}else{
				// console.log(dataObj.description);
				document.getElementById("imageid").src=".." + dataObj.description ;
			}
		});
	}

	function updateCommit(lead_id,isCommit){
		$.post( baseUrl + "setCommit/",
		{
			lead_id: lead_id,
			isCommit: isCommit,
		},
		function(data, status) {
			dataObj=JSON.parse(data);
			if(dataObj.result=="fail") {
				alert("request failed")
			}else{
				// console.log(dataObj)
				// var fname = dataObj.description['fname']
				// alert("Good Job");
			}
			getCallTable(emp_id);
		});
	}


function announceList(){

}
	
	function setDetails(lead_id)
	{
		console.log(lead_id)
		$.post( baseUrl + "editLead/",
		{
        id : lead_id,
        fname : document.getElementById("fnameLead").value,
        lname :document.getElementById("lnameLead").value,
				address :document.getElementById("addressLead").value,
        email :document.getElementById("emailLead").value,
        alternatePhone:document.getElementById("alternateNumberLead").value,
        purchaseDate :document.getElementById("dateLead").value,
        pincode :document.getElementById("pinLead").value,
        comments :document.getElementById("commentsLead").value,
		},
		function(data, status) {
			dataObj=JSON.parse(data);
			if(dataObj.result=="fail") {
				alert("request failed")
				console.log(dataObj)
			}else{
				console.log(dataObj)
			}
			getCallTable(emp_id);
		});
	}
	
	function callLead(lead_id)
	{
		console.log(lead_id)
		$.post( baseUrl + "editLead/",
		{
        id : lead_id,
		},
		function(data, status) {
			dataObj=JSON.parse(data);
			if(dataObj.result=="fail") {
				alert("request failed")
				console.log(dataObj)
			}else{
				console.log(dataObj)
			}
			getCallTable(emp_id);
		});
  }




	function getDetails(lead_id){
		lead_id= lead_id
		$.post( baseUrl + "displaySingleLead/",
		{
			id: lead_id,
		},
		function(data, status) {
			dataObj=JSON.parse(data);
			if(dataObj.result=="fail") {
				alert("request failed")
			}else{
				console.log(dataObj)
				document.getElementById("lead_id").innerText = lead_id;
				document.getElementById("lead_phone").innerText = dataObj.description['mobile'];
				document.getElementById("fnameLead").value = dataObj.description['fname'];
				document.getElementById("lnameLead").value = dataObj.description['lname'];
				document.getElementById("emailLead").value = dataObj.description['email'];
				document.getElementById("alternateNumberLead").value = dataObj.description['alternatePhone'];
				document.getElementById("pinLead").value = dataObj.description['pincode'];
				document.getElementById("dateLead").value = dataObj.description['purchaseDate'];
				document.getElementById("addressLead").value = dataObj.description['address'];
				document.getElementById("commentsLead").value = dataObj.description['comments'];
				document.getElementById("btnLead").setAttribute('onclick','setDetails('+lead_id+')')
			}
			getCallTable(emp_id);
		});
  }


	function getUserData(emp_id) {
		$.post( baseUrl + "getUserData/",
		{
			id: emp_id,
		},
		function(data, status) {
			dataObj=JSON.parse(data);
			if(dataObj.result=="fail") {
				alert("request failed")
			}else{
				// console.log(dataObj)
				var fname = dataObj.description['fname']
				var lname = dataObj.description['lname']
				var loginTime = dataObj.description['loginTime']
				var d = new Date(loginTime);
				var login = d.getMinutes()*60 + d.getHours()*60*60 + d.getSeconds()
				var c = new Date();
				var curDate = c.getMinutes()*60 + c.getHours()*60*60 + c.getSeconds()
				// console.log(login)
				// console.log(curDate)
				// console.log(curDate -login)

				a = Number(curDate -login);
   			 var h = Math.floor(a / 3600);
    		var m = Math.floor(a % 3600 / 60);
    var s = Math.floor(a % 3600 % 60);

    var hDisplay = h > 0 ? h + (h == 1 ? " hour, " : " hours, ") : "";
    var mDisplay = m > 0 ? m + (m == 1 ? " minute, " : " minutes, ") : "";
    var sDisplay = s > 0 ? s + (s == 1 ? " second" : " seconds") : "";
    console.log(  hDisplay + mDisplay + sDisplay);

				//cuz jan starts with 0
				var date = d.getMonth() + 1

				$("#loginTime").text('Logged in at: ' + d.getHours() + ' : ' + d.getMinutes())
				$("#loginDate").text('DATE: ' + d.getDate() + '-' + date + '-' + d.getFullYear())
				$("#welcomeTag").text(fname + ' ' +lname);
				//To a change welcome
			}
			getCallTable(emp_id)
		});
	}

	// $('#commit').click(function () {
	// 		var val = $('#commit').val();

	// 		if (val == "SETCOMMIT") {
	// 			$('#commit').val("COMMIT");
	// 		}
	// 		else {
	// 			$('#commit').val("SETCOMMIT");
	// 		}
	// 	})


function getNoitificationsTable(emp_id) {
		document.getElementById('main-table').innerHTML=' ';
		$.post( baseUrl + "getNotification/",
		{
			id: emp_id,
		},
		function(data, status){
			dataObj = JSON.parse(data);
			if(dataObj.result == 'fail') {
				alert(dataObj.description);
			}else{
				// for (var i=0; i < dataObj.description.length; i++) {
				// 	console.log(dataObj.description[i]['fname'])
				// }
				$("#main-table").append('--');				
				$("#main-table").append('Only For You');
				$("#main-table").append('----------------------');				

				var columns = addAllColumnHeaders(dataObj.description);
				for (var i = 0 ; i < dataObj.description.length ; i++) {
					var row$ = $('<tr/>');
					for (var colIndex = 0 ; colIndex < columns.length ; colIndex++) {
						var cellValue = dataObj.description[i][columns[colIndex]];
						if(typeof cellValue === "boolean"){
							lead_id = dataObj.description[i][columns[0]];
						}
						else{
							if (cellValue == null) { 
								cellValue = ""; 
							}
							row$.append($('<td/>').html(cellValue));
						}
					}
					$("#main-table").append(row$);
				}
			}
		});
		$.post( baseUrl + "getNotification/",
		{},
		function(data, status){
			dataObj = JSON.parse(data);
			if(dataObj.result == 'fail') {
				alert(dataObj.description);
			}else{
				// for (var i=0; i < dataObj.description.length; i++) {
				// 	console.log(dataObj.description[i]['fname'])
				// }
				$("#main-table").append('--');				
				$("#main-table").append('For All');				
				$("#main-table").append('----------------------');				

				var columns = addAllColumnHeaders(dataObj.description);
				for (var i = 0 ; i < dataObj.description.length ; i++) {
					var row$ = $('<tr/>');
					for (var colIndex = 0 ; colIndex < columns.length ; colIndex++) {
						var cellValue = dataObj.description[i][columns[colIndex]];
						if(typeof cellValue === "boolean"){
							lead_id = dataObj.description[i][columns[0]];
						}
						else{
							if (cellValue == null) { 
								cellValue = ""; 
							}
							row$.append($('<td/>').html(cellValue));
						}
					}
					$("#main-table").append(row$);
				}
			}
		});
	}
	





	function getCallTable(emp_id) {
		document.getElementById('main-table').innerHTML=' ';
		$.post( baseUrl + "getAssignedLeads/",
		{
			id: emp_id,
		},
		function(data, status){
			dataObj = JSON.parse(data);
			if(dataObj.result == 'fail') {
				alert("Sorry No Data Assigned Yet");
			}else{
				// for (var i=0; i < dataObj.description.length; i++) {
				// 	console.log(dataObj.description[i]['fname'])
				// }
				var columns = addAllColumnHeaders(dataObj.description);
				for (var i = 0 ; i < dataObj.description.length ; i++) {
					var row$ = $('<tr/>');
					for (var colIndex = 0 ; colIndex < columns.length ; colIndex++) {
						var cellValue = dataObj.description[i][columns[colIndex]];
						if(typeof cellValue === "boolean"){
							lead_id = dataObj.description[i][columns[0]];
							if(cellValue == false){
								row$.append($('<td/>').html('<input type="button" class="btn" onclick="updateCommit('+lead_id+','+'1'+')" value="Set Commit">'));
								row$.append($('<td/>').html('<input type="button" class="btn" data-toggle="modal" data-target="#myModal" onclick="getDetails('+lead_id+')" value="Details">'));
								row$.append($('<td/>').html('<input type="button" class="btn" onclick="callLead('+lead_id+')" value="Call Now">'));
							}
							else if(cellValue == true){
								row$.append($('<td/>').html('<input type="button" class="btn" onclick="updateCommit('+lead_id+',)"value="Un Commit">'));
								row$.append($('<td/>').html('<input type="button" class="btn" data-toggle="modal" data-target="#myModal" onclick="getDetails('+lead_id+')" value="Details">'));
								row$.append($('<td/>').html('<input type="button" class="btn" onclick="callLead('+lead_id+')" value="Call Now">'));
							}
						}
						else{
							if (cellValue == null) { 
								cellValue = ""; 
							}
								//arrange header
								// var orderedCellValue = orderCells(cellValue);
							row$.append($('<td/>').html(cellValue));
						}
					}
					$("#main-table").append(row$);
					// row$.append($('<td/>').html('<button type="button" class="btn btn-secondary callButton">CallNow</button>'));
					// row$.append($('<td/>').html('<button type="button" id='+dataObj.description[i][columns[0]]+' class="btn" onclick="upgateCommit('+dataObj.description[i][columns[7]]+')">Set Commit</button>'));
					// row$.append($('<td/>').html('<button type="button" class="btn btn-secondary callButton">CallNow</button>'));
					// row$.append($('<td/>').html('<button type="button" class="btn"data-toggle="modal" data-target="#myModal">Details</button>'));
					// row$.append($('<td/>').html('<input type="button" class="btn" onclick="updateCommit('+dataObj.description[i][columns[0]]+',)"value="Un Commit">'));

				}
			}
		});
	}
			// $('#excelDataTable').DataTable();

	function orderCells(headers) {
		for (var header of headers) {
			console.log(header)
		}
	}

	function addAllColumnHeaders(myList) {
		var columnSet = [];
		var headerTr$ = $('<tr/>');
		for (var i = 0 ; i < dataObj.description.length ; i++) {
			var rowHash = dataObj.description[i];
			for (var key in rowHash) {
				 if ($.inArray(key, columnSet) == -1){
					columnSet.push(key);
					headerTr$.append($('<th />').html(key));
				}
			}
		}
		headerTr$.append($('<th />').html(' '));
		$("#main-table").append(headerTr$);
		return columnSet;
	} 

</script>


</body>
</html>
